body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: #333;
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: 'MedievalSharp', cursive;
}

a {
	color: #BABA45;
}

html, body, #map {
	height: 100%;
	width: 100%;
}

#info-title {
    font-family: 'MedievalSharp', cursive;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	color: #faebd7;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
	h1 {
        font-family: 'MedievalSharp', cursive;
		letter-spacing: 0.3rem;
		max-width: 100%;
		padding: 20px;
		text-overflow: ellipsis;
		text-align: center;
	}
}

#info-content {
	padding: 0 8% 24px 8%;
	margin: 0 auto;
	background: #333;
	overflow-y: scroll;
	font-size: 1rem;
	line-height: 1.25em;
	font-weight: 300;
	font-size: 20px;
}

#info-container {
	position: absolute;
	overflow-y: hidden;
	bottom: 0;
	left: 24px;
	z-index: 1000;
	background: #222;
	width: 500px;
	height: 60vh;
	color: #faebd7;
	transition: all 0.4s ease-in-out;
	transform: translateY(calc(100% - 80px));
}

#info-container.info-active {
	transform: translateY(0);
}

#info-body {
	margin-top: 80px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	height: 80%;
    font-family: 'Lato', sans-serif;
}

#info-footer {
	font-size: 0.8rem;
	font-family: 'Lato', sans-serif;
	padding: 8%;
	text-align: center;
	text-transform: uppercase;
}

#blog-link {
	letter-spacing: 0.1rem;
	font-weight: bold;
}

@media (max-width: 600px) {
	.info-container  {
		left: 0;
		width: 100%;
		height: 80vh;
	}
}

/** Layer Panel **/
#layer-toggle {
	display: none;
}

#layer-panel {
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 12px;
  background: #222;
  z-index: 1000;
  color: #faebd7; 
}

#layer-panel h3 {
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; 
}

.layer-buttons {
  width: 25%;
  float: left;
  text-transform: uppercase; 
  font-size: 10px;
}

#layer-buttons:last-child {
    border-bottom: 1px solid #faebd7; 
}

@media (max-width: 600px) {
  #layer-panel {
    display: inline-flex;
    align-items: center;
    top: 15%;
    right: 0;
    transform: translateX(calc(100% - 40px));
    transition: all 0.3s ease-in-out;
}
  #layer-panel.layer-panel-active {
    transform: translateX(0);
}
  #layer-toggle {
    cursor: pointer;
    display: block;
    width: 40px;
    transform: translateY(120%) rotate(-90deg);
    padding: 10px;
    margin-left: -20px;
    letter-spacing: 1rem;
    text-transform: uppercase;
    }
}

.layer-button {
  color: #666;
  border-top: 1px solid #faebd7;
  padding: 6px;
  cursor: pointer;
  user-select: none;
  font-family: 'Lato', sans-serif; 
}

.toggle-active {
  color: #faebd7; 
}

.box{
 	width: 40px;
 	height: 40px;
 	float: left;
 	margin-right: 10px;
}

.Lannister{
	background: #cdd10a;
}

.Stark{
	background: #9ddce8;
}
.Greyjoy{
	background: #999d9e;
}
.Bolton{
	background: #ce4021;
}
.Baratheon{
	background: #6b3410;
}
.Darry{
	background: #f25c10;
}
.Brotherhood{
	background: #ffffff;
}
.Frey{
	background: #327a2d;
}
.Free{
	background: #c6cec7;
}
.Brave{
	background: #84800b;
}
.Bracken{
	background: #560505;
}

.Karstark{
	background: #10a887;
}
.Tully{
	background: #fcbfc8;
}
.Mallister{
	background: #7c64a8;
}

.Night{
	background: #000000;
}
.Tyrell{
	background: #ffb7ef;
}
.Blackwood{
	background: #ff9b9b;
}